# === School Linux ===
# 
.git

# ignore py venv
venv/

# ignore examples and tests
amoeba-example/
test/

# ignore log files
*.log

# ignore TeX output files
*.aux
*.pdf

# ignore slurm directory
slurm/

# ignore todo files
todo*
