# === School Linux ===
#
.git

# ignore todo files
todo.*

## python
# ignore py venv
venv/

# ignore pycache
__pycache__/

## TeX
# ignore log files
*.log

# ignore TeX output files
*.aux
*.pdf

# bib
*.bcf
*.run.xml
*.toc
*.bbl
*.blg

## LAMMPS
# log
log.lammps 

# dump files
dump.*

# lammpstrj
*.lammpstrj

## local config
# ignore slurm 
slurm-*.out

# ignore data directory
data/
out/
input/
unzipped/
dump/
rdf/
restart/
*.txt
materials/

# ignore examples and tests
amoeba-example/
tests/

# === mac ===
# ds store
.DS_Store
