# === School Linux ===
# 
.git

# ignore todo files
todo.*

## python
# ignore py venv
venv/

# ignore pycache
*/__pycache__/

## TeX
# ignore log files
*.log

# ignore TeX output files
*.aux
*.pdf

## local config
# ignore slurm directory
slurm/

# ignore data directory
water_data/

# ignore examples and tests
amoeba-example/
test/
